body {
  background-color: #FFFFFF;
  font-family: Inconsolata, Verdana, sans-serif;
  color: #000000;
}

a:link {
  color: #35364E;
  text-decoration: none;
}

a:visted {
  color: #35364E;
  text-decoration: none;
}

a:hover {
  color: #F0AB21;
  text-decoration: none;
}

a:active {
  color: #35364E;
  text-decoration: none;
}

nav {
  display: block;
  font-size: 18px;
  margin-left: 280px;
  margin-bottom: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
}

table {
  font-family: Courier;
}

h1 {
  color: #400000;
  text-align: center;
}

h2 {
  color: #D26502;
  text-align: center;
}

h4 {
  color: #D26502;
  text-align: center;
}

li {
  list-style: none;
  font-size: 14px;
}

div {
  margin-top: 100px;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #F8F8F8;
  text-align: left;
}

.animated.wobble {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.content {
  font-size: 14px;
}

#family {
  margin-top: 100px;
  margin-left: 375px;
  margin-right: 250px;
}

#welcome {
  margin-top: 60px;
  margin-left: 250px;
  margin-right: 250px;
}

#menuHead {
  color: #35364E;
  font-size: 20px;
  text-align: left;
}

#salmonSide {
  float: left;
  position: fixed;
  margin-right: 1000px;
}

#about {
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
}

#products {
  margin-top: 60px;
  margin-left: 250px;
  margin-right: 250px;
}

#merchandise {
  margin-top: 60px;
  margin-left: 250px;
  margin-right: 250px;
}

#locations {
  margin-top: 60px;
  margin-left: 250px;
  margin-right: 250px;
}

#inputForm {
  margin: 0;
  font-size: 12px;
}

#salmon {
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: fixed;
    top: 60%;
    left: 45%;
    width: 18%;
    height: 13%;
    margin-left: -550px;
    margin-top: -335px;
}

#fishies {
  float: right;
}

#shirts {
  float:left;
}

#home {
  margin-left: 1200px;
  margin-top: -300px;
}
