body {
  background-color: #ffffff;
  font-family: Montserrat, Verdana, Georgia, sans-serif;
}

h1 {
  color: #400000;
}

h2 {
  color: #d26502;
}

div {
  font-size: 14px;
  text-align: center;
}

.colorBox {
  float: left;
  color: #ffffff;
  width: 80px;
  height: 60px;
  margin: 5px;
}
