body {
  background-color: #ffffff;
  font-family: Inconsolata, Verdana, sans-serif;
}

h1 {
  color: #400000;
}

h2 {
  color: #D26502;
}

.colorBox {
  float: left;
  font-size: 12px;
  text-align: center;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  width: 80px;
  height: 60px;
  margin: 5px;
}

.desc {
  text-align: left;
  margin: 0px, 0px, 0px, 0px;
}

.desc2 {
  margin-top: -15px;
}

#fixspace {
  text-align: left;
  margin-top: 100px;
}

#montserrat {
  font-family: Inconsolata;
}

#verdana {
  font-family: Inconsolata;
}

#sanserif{
  font-family: sans-serif;
}

#link {
  color: #35364E;
}

#hover {
  color: #F0AB21;
}

#visited {
  color: #9AB3CA;
}

#active {
  color: #35364E;
}
